// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html {
    font-size: 16px;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.form-group {
    font-size: 1rem;
    position: relative;

    label {
        padding-left: 17px;
        padding-top: 14px;
        color: white;
        font-weight: bold;
        position: absolute;
        left: 0;
        transition: transform 0.8s, font-size 0.8s;
    }
    input {
        outline: none;
        min-width: 60vmin;
        background: #000000d9;
        border: solid 1px green;
        border-radius: 10px;
        color: white;
        padding: 1rem;
        height: 3rem;

        &.error {
            border: solid 1px red;
        }
        &::placeholder {
            color: transparent;
        }

        &:focus,
        &:not(:placeholder-shown),
        &:-webkit-autofill {
            & + label {
                font-size: 0.7rem;
                margin-bottom: 10px;
                color: green;
                transform: translateY(-1em);
            }
        }
    }
    .texto-input {
        padding-top: 2rem;
    }
}
