@import "../app.scss";
.container-fluid {
    .container {
        font-size: 7rem;
        color: green;
    }
    .botao-login {
        background: green;
        color: white;
    }
    .cadastro {
        color: white;
    }
    .form-group-checkbox {
        color: green;
    }
}
